.about {
  @include flex_center;
  flex-direction: column;
  margin-top: 20px;

  p {
    @include desktop_paragraph-regular;
    margin-top: 40px;
    text-align: center;
  }
}
.img-wrapper {
  @include flex_center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  transition: 0.2s;
  transform: translateX(0px);

  img {
    width: $img-desktop-width;
    margin-right: 2%;
  }
}

.leftBtn,
.rightBtn {
  position: absolute;
  top: 0;
  width: $img-desktop-width;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}
.rightBtn {
  right: 0;
}
.carousel-container-wrapper {
  // overflow: hidden;
}
.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  height: 16px;
  margin-top: 38px;

  .range {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 5px;
    border-radius: 50%;
    background-color: $headline_text-color;

    &:first-child,
    &:last-child {
      display: none;
    }

    &::after {
      left: -7px;
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      cursor: pointer;
      top: -7px;
    }
  }
  .active {
    background-color: $corporate_color;
  }
}