.burger {
  position: absolute;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  background-color: $headline_text-color;
  right: 13px;
  height: 480px;
  width: 332px;
  top: -600px;
  transition: 0.3s;
  z-index: 1;

  li {
    margin-bottom: 30px;
    margin-left: 0px;
  }
}

.burger-active {
  top: 90px;
}