.header_container {
  background-color: $headline_text-color;
  @include flex_center;
  justify-content: space-between;
  height: 90px;

  h1 {
    @include desktop_headline-text;
    color: $light_text-color;
  }
}
.profile-btn-wrap {
  position: relative;
}
.profile-btn {
  margin-top: 4px;
  cursor: pointer;
  position: relative;
}