.header_container {
  background-color: $headline_text-color;
  @include flex_center;
  justify-content: space-between;
  height: 90px;

  h1 {
    @include desktop_headline-text;
    color: $light_text-color;
  }
}

.nav_wrapper {
  @include flex_center;
  nav {
    margin-right: 41px;
  }

  li {
    display: inline;
    margin-left: 30px;
  }

  a {
    @include desktop_paragraph-regular;
    color: $light_text-color;
    text-decoration: none;
    line-height: 50px;
    letter-spacing: 0px;
    transition: 0.3s;

    &:hover {
      color: $corporate_color;
    }
  }

  .burger-btn {
    display: none;
  }
}
.profile-btn {
  margin-top: 4px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}