.header_container {
  background-color: $headline_text-color;
  @include flex_center;
  justify-content: space-between;
  height: 90px;

  h1 {
    @include desktop_headline-text;
    color: $light_text-color;
  }
}
.profile-btn-wrap {
  position: relative;
}
.profile-btn {
  margin-top: 4px;
  cursor: pointer;
  position: relative;
}
.user-initials-btn {
  @include flex_center;
  margin-bottom: 4px;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $corporate_color;
}