.library-cards {
  .headline-wrapper {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
.library-cards_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-container_library-cards {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  .library-card-text {
    @include desktop_headline-third-text_inter;
    margin-top: 10px;
    margin-bottom: 31px;
  }
}

.info-container_library-cards {
  display: inline-flex;
  flex-direction: column;
  padding-top: 10px;
  max-width: 460px;

  h3,
  p {
    align-self: flex-end;
  }

  p {
    @include desktop_paragraph-regular;
    text-align: end;
    letter-spacing: 0.4px;
    margin-top: 34px;
  }
}

.headline-text_info-container {
  @include desktop_headline-third-text_Forum;
}

.btn-container_info {
  display: flex;
  align-self: flex-end;
  margin-top: 35px;

  .btn {
    width: 75px;
    height: 30px;
    margin-left: 20px;
  }
}