.btn {
  @include flex_center;
  border-radius: 2px;
  border: 1px solid $headline_text-color;
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    &:not([disabled]) {
      background-color: $corporate_color;
    }
  }
}
.active-btn {
  color: $corporate_color;
  border-color: $corporate_color;

  &:hover {
      background-color: transparent;
      cursor: auto;
  }
}