.custom-input-container {
  margin-top: 20px;

  h4 {
    @include desktop_paragraph-small;
    letter-spacing: 0.3px;
    margin-bottom: 4px;
  }
}

.custom-input {
  width: 100%;
  border: 1px solid $corporate_color;
  outline: none;
  box-sizing: border-box;

  &:invalid {
    border-color: red;
  }
}