.buy-library-card-container {
  position: relative;
  max-width: 640px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: white;

  .custom-input-container {
    margin-top: 18px;
    margin-top: 8px;
  }
  .custom-input {
    margin-top: 8px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(7, 7, 7);
  }
  h2 {
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  .content-wrap {
    display: flex;
    margin-top: 20px;
    padding-top: 25px;
  }
  .inputs_container {
    width: 260px;
    padding: 0px 20px 0 35px;
  }
  .warning_container {
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    max-width: 350px;

    p {
      color: #8E8E8E;
      font-family: 'Inter';
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 2px;
    }
  }

  .price-container {
    display: flex;
    margin-top: 25px;

    h3 {
      align-self: end;
      margin-left: 25px;
      font-family: 'Inter';
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 2px;
    }
  }
  .btn {
    width: 75px;
    height: 30px;
  }
}