@media (max-width: $tablet-width) {
  .carousel-container {
    @include flex_center;
    height: 600px;
    display: flex;
    flex-direction: row;
    width: 62%;
    max-width: $img-tablet-width;
  }
  .leftBtn,
  .rightBtn {
    display: block;
    position: relative;
    background-image: url(/assets/img/arr.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
  .rightBtn {
    transform: rotate(180deg);
  }
  .carousel-container-wrapper {
    @include flex_center;
    justify-content: space-evenly;
    width: 100%;
  }
  .carousel-pagination-wrapper {
    margin-top: 0px;
    justify-content: space-evenly;

    .range {
      &:first-child,
      &:last-child {
        display: block;
      }
    }
  }
  .img-wrapper {
    margin-top: 0px;
    position: relative;
    width: $img-tablet-width;

    img {
      width: $img-tablet-width;
      // margin: 0 20px;
    }
  }
}