@media (max-width: $tablet-width) {
  .carousel-container {
    @include flex_center;
    height: 600px;
    // background-color: blueviolet;
    width: 100%;
    display: flex;
    flex-direction: row;

    .leftBtn,
    .rightBtn {
      display: block;
      background-image: url(/assets/img/arr.svg);
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
    .rightBtn {
      transform: rotate(180deg);
    }
  }

  .carousel-pagination-wrapper {
    width: auto;
    margin-top: 0px;

    .range {
      margin: 5px;
    }
  }
  .img-wrapper {
    $img-width: 450px;
    position: relative;
    justify-content: center;
    height: 600px;
    width: $img-width;
    margin: 58px;

    img {
      position: absolute;
      width: $img-width;
      margin: 0 20px;
    }
  }
}