$light_text-color: #FFF;
$dark_text-color: #000;
$headline_text-color: #0C0C0E;
$corporate_color: #BB945F;

$desktop-width: 1440px;
$tablet-width: 1024px;

$img-desktop-width: 32%;
$img-tablet-width: 450px;