* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
section {
  margin: auto;
  max-width: $desktop-width;
  padding: 0 20px;
  position: relative;
}

button {
  background-color: transparent;
  border: none;
}
a {
  text-decoration: none;
}